@import url("/css/base/reset.css");
@import url("/css/base/header.css");
@import url("/css/base/footer.css");
@import url("/libs/iconfont.css");

.db{display: block;}
//main
main{
	width:100%;
	height:2168px;
	.wrap{
		width:1334px;
		height:2168px;
		margin:0 auto;
	}
}
main .wrap .d_top{
	width:1334px;
	height:1714px;
	padding-top: 44px;
	.d_pic{
		width:880px;
		height:1326px;
		float:left;
		p{
			width:430px;
			height:430px;
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
			img{
				width:430px;
				height:430px;
			}
		}
	}
	.d_introduce{
		width:379px;
		height:1550px;
		float: right;
		.intro_pic{
			height:690px;
		}
	}
}
//右上部分
main .wrap .d_top .d_introduce{
	#more_infor{
		p:nth-child(1){
			margin-top: 12px;
			font-size: 14px;
			margin-bottom:10px;
			span{
				float: right;
			}
		}
		p:nth-child(2){
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 70px;
		}
		p:nth-child(3){
			height:143px;
			margin-bottom: 38px;
			img{
				width:69px;
				height:69px;
				cursor: pointer;
			}
		}
	}
	p:nth-child(2){
		font-size: 15px;
		margin-bottom: 20px;
		span{
			color:#666666;
			float:right
		}
	}
	.tab{
		height:220px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 30px;
		div{
			width:70px;
			height:46px;
			border:1px solid #ddd;
			border-radius: 5px;
			text-align: center;
			line-height: 46px;
			font-size: 14px;
			cursor: pointer;
		}
		div:hover{
			background: #000000;
			color:white;
			opacity: .8;
		}
	}
	p:last-child{
		height:50px;
		#btn{
			width:302px;
			height:50px;
			background: black;
			color:white;
			font-family: "微软雅黑";
			font-size: 15px;
			border: 0;
			border-radius: 2px;
			margin-right: 1px;
			vertical-align: top;
			cursor: pointer;
		}
		span{
			display: inline-block;
			width:74px;
			height:50px;
			border-radius: 2px;
			background: black;
			cursor: pointer;
			text-align: center;
			line-height: 50px;
		}
		span:hover{
			color:red;
		}
	}
	.free{
		cursor: pointer;
		border-top: 1px solid #ddd;
		line-height: 82px;
		font-size: 18px;
		span{
			float: right;
		}
		>.f_dt{
			height:50px;
			line-height: 26px;
			font-size: 14px;
			display: none;
			&.db{display: block;}
		}
	}
	.evaluate{
		height:82px;
		cursor: pointer;
		border-top: 1px solid #ddd;
		line-height: 82px;
		font-size: 18px;
		span{
			float: right;
		}
	}
	.more{
		cursor: pointer;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		line-height: 82px;
		font-size: 18px;
		span{
			float: right;
		}
	}
	.speak{
		height:66px;
		line-height: 66px;
		font-size: 15px;
		margin-bottom: 45px;
		a{
			text-decoration: underline;
		}
	}
	.explain{
		font-size: 12px;
		div:first-child{
			margin-bottom: 24px;
		}
	}
}
main .wrap .d_top .d_introduce .intro_txt{
	height:280px;
	overflow: hidden;
	i{
		font-size: 15px;
		height:29px;
		display: block;
		height:100px;
		width:370px;
		line-height: 28px;
	}
	ul{
		height:42px;
		margin-top: 40px;
		margin-bottom: 34px;
		li{
			height:24px;
			font-size: 15px;
			// list-style: ;
		}
	}
	p:nth-child(3){
		font-size: 15px;
		a{
			text-decoration: underline;
		}
		a:hover{
			color:#FA5400;
		}
	}
	
}
main .wrap .d_bottom{
	width:973px;
	height:370px;
	margin: 0 auto ;
	h1{
		width:112px;
		height:40px;
		margin: 0 auto;
		font-size: 18px;
	}
	dl{
		width:240px;
		height:324px;
		// border:1px solid #ddd;
		box-sizing: border-box;
		padding: 12px;
		margin-bottom: 30px;
		float: left;
		a{
			display: block;
			width:226px;
			height:300px;
			dt{
				width:220px;
				height:220px;
				margin-bottom: 17px;
				img{
					width:220px;
					height:220px;
				}
			}
			dd{
				p{
					font-size: 12px;
				}
				.ff{
					font-weight: bold;
				}
				.ww{
					color: #666666;
				}
				p:first-child{
					margin-bottom: 6px;
				}
			}
		}
	}
	dl:hover{
		border:1px solid #ddd;
	}
}
