<header id="header">
			<div class="header_top">
				<div class="wrap">
						<ul class="logo_left">
							<li><a href="javascript:;">NikePlus</a></li>
							<li><a href="javascript:;"><i class="iconfont icon-zhinengxuanxie_qiaodan"></i></a></li>
							<li><a href="javascript:;"><i class="iconfont icon-converse"></i></a></li>
						</ul>
						<ul class="logo_right">
							<li id="cool"><a href="/html/login.html">加入/登录NikePlus账号</a></li>
							<li>
								<a href="javascript:;">帮助</a>
								<ul class="help">
									<li><a href="javascript:;">我的订单</a></li>
									<li><a href="javascript:;">配送服务</a></li>
									<li><a href="javascript:;">退换货</a></li>
									<li><a href="javascript:;">使用条款</a></li>
									<li><a href="javascript:;">销量条款</a></li>
									<li><a href="javascript:;">隐私政策</a></li>
									<li><a href="javascript:;">联系我们</a></li>
									<li><a href="javascript:;">网站反馈</a></li>
									<li><a href="javascript:;">查看全部</a></li>
								</ul>
							</li>
							<li><a href="javascript:;"><i class="iconfont icon-xinxi"></i></a></li>
							<li><a href="/html/cart.html"><i class="iconfont icon-gouwuche"></i></a></li>
							<li><a href="javascript:;"><img src="/img/cn_sml.png" ></a></li>
						</ul>
				</div>
			</div>
			<div class="outer">
				<div class="header_bottom">
						<div class="logo"><a href="http://localhost:2333/index.html?;"><img src="/img/nike.png" ></a></div>
						<ul class="list">
							<li><a href="javascript:;">男子</a></li>
							<li><a href="javascript:;">女子</a></li>
							<li><a href="javascript:;">男孩</a></li>
							<li><a href="javascript:;">女孩</a></li>
							<li><a href="javascript:;"><span>NIKEID</span>专属定制</a></li>
							<li><a href="javascript:;">流行潮品</a></li>
						</ul>
						<form action="" id="search">
							<i class="iconfont icon-fangdajing"></i>
							<input type="" name="" id="" placeholder="搜索"/>
						</form>
				</div>
			</div>
			<div class="detail">
				<div class="wrap">
					<ul>
						<li><a href="">最新上市</a></li>
						<li><a href="">SNKRS新品预览</a></li>
						<li><a href="">耐克足球精选</a></li>
						<li><a href="">热卖商品</a></li>
						<li><a href="">迷彩系列</a></li>
						<li><a href="">超值精选</a></li>
						<li><a href="">精选商品折上折</a></li>
						<li><a href="">企业团购</a></li>
					</ul>
					<ul>
						<li><a href="">所有鞋类</a></li>
						<li><a href="">休闲</a></li>
						<li><a href="">跑步</a></li>
						<li><a href="">篮球</a></li>
						<li><a href="">足球</a></li>
						<li><a href="">健身训练</a></li>
						<li><a href="">拖鞋</a></li>
						<li><a href="">React</a></li>
						<li><a href="">Air Force 1</a></li>
						<li><a href="">Air Max</a></li>
						<li><a href="">NIKEID专属定制</a></li>
					</ul>
					<ul>
						<li><a href="">所有服装</a></li>
						<li><a href="">所有服装</a></li>
						<li><a href="">上衣T恤</a></li>
						<li><a href="">外套/夹克</a></li>
						<li><a href="">连帽衫/套头衫</a></li>
						<li><a href="">短裤</a></li>
						<li><a href="">休闲裤</a></li>
						<li><a href="">运动裤/紧身裤</a></li>
						<li><a href="">运动紧身衣</a></li>
						<li><a href="">袜子</a></li>
						<li><a href="">配件/装备</a></li>
					</ul>
					<ul>
						<li><a href="">运动</a></li>
						<li><a href="">跑步</a></li>
						<li><a href="">篮球</a></li>
						<li><a href="">足球</a></li>
						<li><a href="">健身/训练</a></li>
						<li><a href="">滑板</a></li>
						<li><a href="">网球</a></li>
						<li><a href="">高尔夫</a></li>
					</ul>
					<ul>
						<li><a href="">品牌</a></li>
						<li><a href="">JORDAN</a></li>
						<li><a href="">NBA</a></li>
						<li><a href="">NikeLab</a></li>
						<li><a href="">Nike Sportswear</a></li>
						<li><a href="">ACG</a></li>
						<li><a href="">NIKEID专属定制</a></li>
					</ul>
				</div>
			</div>
		</header>